<!DOCTYPE html>
<html>

<head>
	<title>Add Medicine </title>
</head>

<body>
	<div>
		<h1>Edit Medicine</h1>
	</div>

	<a href="/home"> Back</a> 
	

	<form method="post">
		<table>

			<tr>
				<td>Name</td>
				<td><input type="text" name="name" value="<%=user.product_name%>"><br>
				</td>
					

				

			</tr>
			
			<tr>
				<td>Catagory</td>
				<td><input type="text" name="catagory" value="<%=user.p_category%>"><br>
					</td>
			
			
			</tr>
			<tr>
				<td>Quantity</td>
				<td><input type="text" name="quantity" value="<%=user.product_qty%>"><br>
					</td>
			
			
			</tr>
			<tr>
				<td>Type(solid/liquid) :</td>
				<td><input type="text" name="type" value="<%=user.product_type%>"><br>
					</td>
			
			</tr>
			</tr>
			<tr>
				<td>Price :</td>
				<td><input type="number" name="price" value="<%=user.price%>"><br>
					</td>
			
			</tr>
			<tr>
				<td>Vendor Name:</td>
				<td><input type="text" name="vendorname" value="<%=user.vendor_name%>"><br>
					</td>
			</tr>
				<tr>
			
				<td></td>
				<td><input type="submit" name="submit" value="Add"></td>
			</tr>
		</table>
		
	</form>

</body>

</html>