<!DOCTYPE html>
<html>
<head>
	<title>All Medicine</title>
</head>
<body>
	<div>
		<h1>Medicine List</h1> 		
	</div>

	<a href="/home"> Back</a> |
	<a href="/logout"> logout</a><br>
	
	
	<input type="text" name="" id="myInput" placeholder="Medicine Name" onkeyup="searchFun()"> <br> <br>
	<table id="medicine" border="1">
		<tr>
			<td>ID</td>
			<td>Name</td>
			
			<td>Category</td>
			<td>Quantity</td>
			<td>Type</td>
			<td>Price</td>
			<td>Vendor Name</td>
			<td>Action</td>
			
			
		</tr>
		<% for(var i=0; i < userlist.length; i++){ %>
		<tr>
			<td><%= userlist[i].product_id %></td>
			<td><%= userlist[i].product_name %></td>
			<td><%= userlist[i].p_category %></td>
			<td><%= userlist[i].product_qty %></td>
			<td><%= userlist[i].product_type %></td>
			<td><%= userlist[i].price %></td>
			<td><%= userlist[i].vendor_name %></td>

			<td>
				 
				<a href="/home/cart/<%= userlist[i].product_id %>">Add To Cart</a>  
				  
			</td>
		</tr>
		<% } %>
	</table>

	<script>
		function searchFun(){
			let filter = document.getElementById('myInput').value.toUpperCase();
			
			let myTable=document.getElementById('medicine');
			
			let tr=myTable.getElementsByTagName('tr');
			
			for(var i=0; i<tr.length;i++){
				let td = tr[i].getElementsByTagName('td')[1];
				
				if(td){
					let textvalue= td.textContent||td.innerHTML;
					if(textvalue.toUpperCase().indexOf(filter)>-1){
						tr[i].style.display="";
						
					}else{
						
						tr[i].style.display="none";
						//alert("Not found!");
					}
					
				}
				
				
			}
			
			
		}
		</script>

	
</html>